*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0px auto;
    width: 100%;
}

div.bg {
    width: 2000px; 
    height: 500px; 
    overflow: hidden; 
}

div.bg img {
    width: 100%;
    z-index: 0;
}

div.bg h1 {
    position: absolute; 
    top: 325px; 
    width: 100%;
    font-size: 6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
div.bg h1 span {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
    padding:5px;
}

nav {
    background-color:#999;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
footer a {
    text-decoration: none;
    color: #999;
}
}
a:hover {
    text-decoration: underline;
    color: #666;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-indent: 20px;
}

div.projectlinks {
    display: inline-block;
    width: 304px;
    height: 228px;
    margin: 10px;
    border: 3px solid #999; 
}

div.projectlinks p {
    position:relative;
    bottom:200px;
    color:#999;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}