*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0px auto;
    width: 100%;
}

div.bg {
  width: 100%;
  z-index: 0;
}

div.bg h1 {
    position: absolute; 
    top: 400px; 
    left: 10px; 
    width: 100%;
    font-size: 6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
nav {
    background-color:#999;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
footer a {
    text-decoration: none;
    color: #999;
}
}
a:hover {
    text-decoration: underline;
    color: #666;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

div.projectlinks {
    display: inline-block;
    width: 304px;
    height: 228px;
    margin: 10px;
    border: 3px solid #999; 
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}